<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
  <h1>Approved Details</h1>
  <table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Address</th>
      <th>Username</th>
      <th>Password</th>
      <th>Status</th>

    </tr>
    {% for i in value%}
    <tr>
      <td>{{i.id}}</td>
      <td>{{i.Name}}</td>
      <td>{{i.Address}}</td>
      <td>{{i.Username}}</td>
      <td>{{i.Password}}</td>
      <td>{{i.Status}}</td>

    </tr>
    {% endfor %}
  </table>
</center>

</body>
</html>